.st0{clip-path: url(#SVGID_2_);fill:url(#SVGID_3_);}
.st1{opacity:0.6;}
.st2{fill:#E8A39C;}
.st3{fill:#D4928A;}
.st4{clip-path:url(#SVGID_5_);fill:url(#SVGID_6_);}
.st5{clip-path:url(#SVGID_8_);fill:url(#SVGID_9_);}
.st6{clip-path:url(#SVGID_11_);fill:url(#SVGID_12_);}

.shadow{
  opacity:0.7;
  fill:url(#SVGID_1_);
}


#petal1 {
  transform: rotate(-25deg);
  animation: open1 3s 3s forwards;
  transition-timing-function: ease-out;
  transform-origin: top;
}

#petal2 {
  transform: rotate(-12deg);
  animation: open2 3s 3s forwards;
  transition-timing-function: ease-out;
  transform-origin: top;
}

#petal3 {
  transform: rotate(12deg);
  animation: open3 3s 3s forwards;
  transition-timing-function: ease-out;
  transform-origin: top;
}

#petal4 {
  transform: rotate(25deg);
  animation: open4 3s 3s forwards;
  transition-timing-function: ease-out;
  transform-origin: top;
}

@keyframes open1 {
  0%   { transform: rotate(-25deg) }
  100% { transform: rotate(0deg) }
}

@keyframes open2 {
  0%   { transform: rotate(-12deg) }
  100% { transform: rotate(0deg) }
}

@keyframes open3 {
  0%   { transform: rotate(12deg) }
  100% { transform: rotate(0deg) }
}

@keyframes open4 {
  0%   { transform: rotate(25deg) }
  100% { transform: rotate(0deg) }
}

.viz {
  animation: gravity 4s forwards, movement 30s 4s infinite;
  transition-timing-function: ease-in-out;
}

@keyframes movement {
  0%   { transform: translate(0px, 0px) }
  25%  { transform: translate(6px, 0px) }
  50%  { transform: translate(6px, 6px) }
  75%  { transform: translate(0px, 6px) }
  100% { transform: translate(0px, 0px) }
}

@keyframes gravity {
  0%   { transform: translate(0px, -500px) }
  98%  { transform: translate(0px, 0px) }
  100% { transform: translate(0px, 0px) }
}
